{% extends 'base.html' %}
{% block contenido %}
    <div class="columns m-0">
        <div class="column px-6 py-4">
            <div class="box has-background-grey-dark has-text-light" style="height: 100%;">
                {% if reporte %}
                <h1 class="title is-4 has-text-light has-text-weight-bold">REPORTE DE FACTURAS DE PROVEEDORES</h1>
                {% else %}
                <h1 class="title is-4 has-text-light has-text-weight-bold">FACTURAS DE PROVEEDORES</h1>
                {% endif %}
                <div class="columns no-min-height m-0" style="height: auto;">
                    <div class="column p-0">
                        <div class="control has-icons-left mb-2" style="height: 40px;">
                            <input class="input is-small is-pulled-left" type="text" id="busqueda" placeholder="Buscar" style="width: 80%;" onkeyup="buscarConc(0, 1, 2, 3)">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="column p-0">
                        {% if reporte %}
                        <h1 class="subtitle is-5 has-text-light has-text-weight-bold is-inline">Total de facturas: {{ proveedores|length }}</h1>
                        <h1 class="subtitle is-5 has-text-light has-text-weight-bold is-pulled-right pr-2">Rango: {{ reporte['inicio'] }} a {{ reporte['fin'] }}</h1>
                        {% endif %}
                    </div>
                </div>
                <div class="columns no-min-height m-0 mb-2" style="height: 70%;">
                    <div id="cont-tarjetas" class="column has-background-grey-lighter mb-0 pr-0" style="border-radius: 6px;">
                        <div class="columns no-min-height m-0 pb-2 pr-4" style="height: auto;">
                            <div class="column p-0">
                                <p class="subtitle has-text-weight-semibold is-6">No. de Factura</p>
                            </div>
                            <div class="column p-0">
                                <p class="subtitle has-text-weight-semibold is-6">Fecha de factura</p>
                            </div>
                            <div class="column p-0">
                                <p class="subtitle has-text-weight-semibold is-6">Nombre de proveedor</p>
                            </div>
                            <div class="column p-0">
                                <p class="subtitle has-text-weight-semibold is-6">RFC de proveedor</p>
                            </div>
                            <div class="column p-0">
                                <p class="subtitle has-text-weight-semibold is-6">No. de Pedimento</p>
                            </div>
                        </div>
                        <!-- MODAL -->
                        <div class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                              <header class="modal-card-head">
                                <p class="modal-card-title">Detalles de factura</p>
                                <button class="delete close" aria-label="close"></button>
                              </header>
                              <section class="modal-card-body has-text-black">
                                <table class="table is-bordered is-centered m-auto">
                                    <tbody>
                                        <tr>
                                            <th>Número de factura</th>
                                            <td><span id="num_factura"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de factura</th>
                                            <td><span id="fecha_factura"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Nombre de proveedor</th>
                                            <td><span id="nom"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Número de pedimento</th>
                                            <td><span id="num_pedimento"></span></td>
                                        </tr>
                                        <tr id="tr_rfc">
                                            <th>RFC</th>
                                            <td><span id="rfc"></span></td>
                                        </tr>
                                        <tr id="tr_fecha_venc">
                                            <th>Fecha de vencimiento</th>
                                            <td><span id="fecha_venc"></span></td>
                                        </tr>
                                        <tr id="tr_xml">
                                            <th>XML</th>
                                            <td><a id="xml">Ver XML</a></td>
                                        </tr>
                                        <tr id="tr_pdf">
                                            <th>PDF</th>
                                            <td><a id="pdf">Ver PDF</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                              </section>
                              <footer class="modal-card-foot is-centered">
                                {% if not reporte %}
                                {% if chkAllPermissions(usuario, 'fp', 'u') %}
                                <a class="button is-black" id="editar"><span class="icon"><i class="fas fa-pencil-alt"></i></span>
                                    <span>Editar</span>
                                </a>
                                {% endif %}
                                {% if chkAllPermissions(usuario, 'fp', 'd') %}
                                <div class="dropdown is-up">
                                    <div class="dropdown-trigger">
                                      <button class="button is-danger" aria-haspopup="true" aria-controls="dropdown-borrar">
                                        <span class="icon"><i class="fas fa-trash"></i></span>
                                        <span>Borrar</span>
                                      </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-borrar" role="menu">
                                      <div class="dropdown-content">
                                        <div class="dropdown-item pb-0">
                                            <p class="has-text-weight-semibold pb-3">¿Desea borrar de manera permanente?</p>
                                            <a class="button is-fullwidth has-text-weight-semibold has-text-danger-dark py-1" id="borrar">
                                                <span class="icon"><i class="fas fa-check"></i></span>
                                                <span>Sí</span>
                                            </a>
                                            <a class="button is-fullwidth has-text-weight-semibold has-text-dark py-1">
                                                <span class="icon"><i class="fas fa-times"></i></span>
                                                <span>No</span>
                                            </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                                {% endif %}
                              </footer>
                            </div>
                          </div>
                        <!-- TARJETAS -->
                        <div class="box has-background-grey-lighter has-text-light m-0 p-0 pr-3" style="box-shadow: none; height: 90%; overflow-y: auto;">
                        {% if proveedores|length > 0 %}
                        {% for i in proveedores %}
                        <a class="tarjeta-lg fp button is-fullwidth mb-1 p-0 py-2 has-background-grey-light has-text-black has-text-weight-semibold" id="{{ i['_id'] }}"
                        data-num_factura="{{ i['num_factura'] }}" data-fecha_factura="{{ i['fecha_factura'] }}" data-nom="{{ i['registro']['nom'] }}" data-num_pedimento="{{ i['num_pedimento'] }}"
                        data-rfc="{{ i['registro']['rfc'] }}" data-fecha_venc="{{ i['fecha_venc'] }}" data-xml="{{ i['xml'] }}" data-pdf="{{ i['pdf'] }}">
                            <div class="columns no-min-height m-0 pb-2">
                                <div class="column p-0">
                                    <p>{{ i['num_factura'] }}</p>
                                </div>
                                <div class="column p-0">
                                    <p>{{ i['fecha_factura'] }}</p>
                                </div>
                                <div class="column p-0">
                                    <p>{{ i['registro']['nom'] }}</p>
                                </div>
                                <div class="column p-0">
                                    <p>{{ i['registro']['rfc'] }}</p>
                                </div>
                                <div class="column p-0">
                                    <p>{{ i['num_pedimento'] }}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                        {% else %}
                        <div class="columns is-vcentered m-auto">
                            <div class="column is-centered">
                                <span class="icon is-xlarge has-text-grey"><i class="far fa-folder-open fa-4x"></i></span>
                                {% if not reporte %}
                                <h1 class="title is-5 has-text-grey pt-2">No hay facturas registadas</h1>
                                {% else %}
                                <h1 class="title is-5 has-text-grey pt-2">No hay facturas registadas en ese rango de fechas</h1>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    </div>
                </div>
                {% if not reporte and chkAllPermissions(usuario, 'fp', 'c') %}
                <a class="button has-text-weight-semibold is-black mb-4" href="/addFP">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span>Agregar nueva factura</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}